<div class="---page-client-in ---row">

  <div class="---col-12 ---col-lg-6 ---form">

    <div class="---data-block ---radius-5">
      <div class="h2 ---font-600">Данные о аренде</div>

      <div class="---row">
        <div class="---field ---col-12 ---col-sm-6">
          <label>Скидка</label>
          <div class="---select">
            <select [(ngModel)]="newClient.sale">
              <option *ngFor="let discount of discounts" [ngValue]="discount.val">
                {{discount.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6">
          <label>Город аренды</label>
          <div class="---select">
            <select [(ngModel)]="newClient.branch">
              <option *ngFor="let branch of branches" [ngValue]="branch.val">
                {{branch.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6">
          <label>Статус</label>
          <div class="---select">
            <select [(ngModel)]="newClient.status">
              <option *ngFor="let status of statusList" [ngValue]="status.val">
                {{status.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6">
          <label>Источник</label>
          <div class="---select">
            <select [(ngModel)]="newClient.source">
              <option *ngFor="let source of sources" [ngValue]="source.val">
                {{source.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="---data-block ---radius-5">
      <div class="h2 ---font-600">Данные клиента</div>

      <div class="---row">
        <div class="---field ---col-12 ---col-sm-6">
          <label>Название компании (юр.лицо)</label>
          <input class="---input ---fill--bg" [(ngModel)]="newClient.name" [disabled]="newClient.fio!=''">
        </div>
        <div class="---field ---col-12 ---col-sm-6">
          <label>Представитель (юр.лицо)</label>
          <input class="---input ---fill--bg" [(ngModel)]="newClient.name_chief" [disabled]="newClient.fio!=''">
        </div>
        <div class="---field ---col-12 ---col-sm-6">
          <label>ФИО (физ.лицо)</label>
          <input class="---input ---fill--bg" [disabled]="newClient.name!='' || newClient.name_chief !=''" [(ngModel)]="newClient.fio">
        </div>
        <div class="---field ---col-12 ---col-sm-6">
          <label>Инн</label>
          <input class="---input ---fill--bg" [(ngModel)]="newClient.inn">
        </div>
        <div class="---field ---col-12 ---col-sm-6">
          <label>КПП</label>
          <input class="---input ---fill--bg" [(ngModel)]="newClient.kpp">
        </div>
        <div class="---field col ---col-12 ---col-sm-6">
          <label>Серия номер паспорта</label>
          <input class="---input ---fill--bg" [(ngModel)]="newClient.number_passport">
        </div>
      </div>
    </div>

    <div class="---data-block ---radius-5">
      <div class="h2 ---font-600">Контакты</div>

      <div class="---row">
        <div class="---field ---col-12 ---col-sm-6">
          <label>Номер телефона 1</label>
          <input type="tel" mask="+0 (000) 000 00 00" class="---input ---fill--bg" [(ngModel)]="newClient.phone_1">
        </div>
        <div class="---field ---col-12 ---col-sm-6">
          <label>Номер телефона 2</label>
          <input type="tel" mask="+0 (000) 000 00 00" class="---input ---fill--bg" [(ngModel)]="newClient.phone_2">
        </div>
        <div class="---field ---col-12 ---col-sm-6">
          <label>Номер телефона 3</label>
          <input type="tel" mask="+0 (000) 000 00 00" class="---input ---fill--bg" [(ngModel)]="newClient.phone_3">
        </div>

        <div class="---field ---col-12 ---col-sm-6">
          <label>E-mail</label>
          <input [(ngModel)]="newClient.email" class="---input ---fill--bg">
        </div>
      </div>
    </div>

    <div class="---btns-wrapper">
      <div (click)="addClient()" class="---btn ---btn--fill-acent">Сохранить</div>
    </div>

  </div>

</div>
