<div class="---page-settings ---row ---justify-content-between">

  <div class="---col-12 ---col-xl-7">
    <div class="---page-switchers h1 ---font-light">
      <a (click)="changeTab('print')" [ngClass]="{'---is-active':currentTab==='print'}">Печатные формы</a>
      <a (click)="changeTab('stock')" [ngClass]="{'---is-active':currentTab==='stock'}">Акции</a>
      <a (click)="changeTab('users')" [ngClass]="{'---is-active':currentTab==='users'}">Доступ</a>
    </div>
  </div>

  <div *ngIf="currentTab==='print'">
    Печатные формы
  </div>

  <div *ngIf="currentTab==='stock'">
    <app-sale class="---page-settings ---row ---justify-content-between ng-star-inserted"></app-sale>
  </div>

  <div *ngIf="currentTab==='users'">
    <app-users class="---page-settings ---row ---justify-content-between ng-star-inserted"></app-users>
  </div>
</div>
