<div *ngIf="data.data.show" id="---modal-text" class="---d-flex ---modal --justify-content-center ---align-items-start ---justify-content-center">
  <div class="---wrapper ---wrapper--small">
    <div class="---js-close-modal ---js-close-modal-icon" (click)="clear()"></div>
    <div class="modal-body ---form">

      <div class="---field">
        <label>Укажите причину</label>

        <input [(ngModel)]="data.data.text"  type="text" class="---input ---fill--bg">
      </div>

      <div class="---btn ---btn--fill-acent ---btn--sm" (click)="send()">Сменить статус</div>

    </div>
  </div>
</div>
