<header class="---d-flex ---justify-content-end ---md-justify-content-between ---page-header ---pos-rel">

  <div class="---search-form ---d-flex">
    <button class="ifont ---icon-loop ---y-pos-abs ---search__btn"></button>
    <input class="---search__input" placeholder="Поиск...">
    <i class="---js-close-search-form ifont ---icon-close ---y-pos-abs"></i>
  </div>

  <div id="---menu-trigger" class="---d-flex ---lg-d-none ---align-content-center ---justify-content-center ---y-pos-abs">
    <span></span>
  </div>

  <div class="---page-title ---align-self-center ---d-none ---md-d-block">Рабочий стол</div>

  <div class="---d-flex">
    <a href="#" class="---h-block ---d-inline-flex ---align-items-center ---search ---js-open-search-form">
      <span class="---h-block__title ---d-none ---xl-d-block">Поиск</span>
      <i class="ifont ---icon-loop"></i>
    </a>

    <div class="---h-block ---d-none ---sm-d-inline-flex ---align-items-center ---in-rent">
      <div class="---h-block__title ---d-none ---xl-d-block">В аренде</div>
      <i class="ifont ---icon-electro-plug"></i>
      <span class="---font-sbold">284</span>
    </div>

    <a href="#" class="---h-block ---d-inline-flex ---align-items-center ---notifications">
      <i class="ifont ---icon-bell"></i>
      <span class="---h-block__title ---d-none ---xl-d-block">Уведомления</span>
      <span class="---font-sbold ---acent ---d-inline-flex ---align-items-center ---justify-content-center">1</span>
    </a>

    <div class="---h-block ---d-inline-flex ---align-items-center ---in-rent">
      <div class="---h-block__title ---d-none ---xl-d-block">Продажи</div>
      <i class="ifont ---icon-database ---d-none ---sm-d-inline-flex"></i>
      <span class="---font-sbold">810 560 ₽</span>
    </div>



    <div (click)="exit()" class="---exit ---h-block ifont ---icon-exit"></div>
    <div routerLink="/application-create" class="---btn ---btn--fill-acent ---d-none ---sm-d-block">
      Создать заявку
    </div>
  </div>

</header>
