<div class="---page-client-in ---row">
  <div class="---col-12 ---col-lg-6 ---form">
    <div class="---data-block">
      <div class="h2 ---font-600">О товаре</div>

      <div class="---row">
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Марка</label>
          <div class="---select">
            <select [(ngModel)]="newEquipments.mark">
              <option *ngFor="let equipmentsMark of equipmentsMarkList"
                      [ngValue]="equipmentsMark.val">
                {{equipmentsMark.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Модель</label>
          <input type="text" class="---input ---shadow--bg" [(ngModel)]="newEquipments.model">
        </div>
      </div>
      <div class="---row">
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Склад</label>
          <div class="---select">
            <select [(ngModel)]="newEquipments.stock">
              <option *ngFor="let stock of stocks" [ngValue]="stock.val">
                {{stock.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Тип оборудования</label>
          <div class="---select">
            <select [(ngModel)]="newEquipments.type">
              <option *ngFor="let equipmentsType of equipmentsTypeList"
                      [ngValue]="equipmentsType.val">
                {{equipmentsType.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Категория</label>
          <div class="---select">
            <select [(ngModel)]="newEquipments.category">
              <option *ngFor="let equipmentsCategory of equipmentsCategoryList"
                      [ngValue]="equipmentsCategory.val">
                {{equipmentsCategory.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>номер инструмента</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="newEquipments.tool_number">
        </div>
      </div>
      <div class="---row">
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Статус</label>
          <div class="---select">
            <select [(ngModel)]="newEquipments.status">
              <option *ngFor="let equipmentsStatus of equipmentsStatusList"
                      [ngValue]="equipmentsStatus.val">
                {{equipmentsStatus.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Количество</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="newEquipments.count">
        </div>
      </div>
    </div>

    <div class="---data-block">
      <div class="h2 ---font-600">Данные на аренду</div>

      <div class="---row">
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Износ оборудования</label>
          <div class="---input ---input--wear ---font-600 ---d-flex ---align-items-center ---justify-content-between">
            <div>
              <input type="text" class="mini-input" [(ngModel)]="newEquipments.degree_wear" style="width: 30px; color: #fff;">%
            </div>

            <div class="---d-flex">
              <div class="---dot" [ngClass]="{'---dot--acent':newEquipments.degree_wear > 9}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':newEquipments.degree_wear > 19}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':newEquipments.degree_wear > 29}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':newEquipments.degree_wear > 39}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':newEquipments.degree_wear > 49}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':newEquipments.degree_wear > 59}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':newEquipments.degree_wear > 69}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':newEquipments.degree_wear > 79}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':newEquipments.degree_wear > 89}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':newEquipments.degree_wear === 100}"></div>
            </div>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Цена аренды за сутки</label>
          <input type="text" class="---input ---shadow--bg" mask="separator" [(ngModel)]="newEquipments.price_per_day">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Цена продажи</label>
          <input type="text" class="---input ---shadow--bg" mask="separator" [(ngModel)]="newEquipments.selling_price">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Количество прокатов</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="newEquipments.rentals">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Количество ремонтов</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="newEquipments.repairs">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Сумма ремонтов</label>
          <input type="text" class="---input ---shadow--bg" mask="separator" [(ngModel)]="newEquipments.repairs_sum">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Коэффициент окупаемости</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="newEquipments.payback_ratio">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Выручка</label>
          <input type="text" class="---input ---shadow--bg" mask="separator" [(ngModel)]="newEquipments.revenue">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Скидка</label>
          <div class="---select">
            <select [(ngModel)]="newEquipments.discount">
              <option *ngFor="let discount of discounts"
                      [ngValue]="discount.val">
                {{discount.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Комментарий</label>
          <textarea class="---input" [(ngModel)]="newEquipments.comment" rows="5"
                    [ngModelOptions]="{standalone: true}"></textarea>
        </div>
      </div>
    </div>

    <div class="---data-block">
      <div class="h2 ---font-600">Описание товара на сайте</div>

      <div class="---row">
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label></label>
          <label class="---pos-rel ---input ---input--file-upload ---shadow--bg">
            <i class="ifont ---icon-camera ---y-pos-abs"></i>
            <input type="file" (change)="addPhoto($event)" class="---d-none">
            <span class="---input__file-name">Загрузить фотографию</span>
          </label>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Ссылка на фото</label>
          <input type="text" class="---input ---shadow--bg" [(ngModel)]="newEquipments.photo_alias">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Энергия удара, Дж</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="newEquipments.power_energy">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Габаритная длина, мм</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="newEquipments.length">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Сетевой шнур, м</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="newEquipments.network_cord">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Мощность, Вт</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="newEquipments.power">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Частота ударов, уд/мин</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="newEquipments.frequency_hits">
        </div>
      </div>
    </div>

    <div class="---btns-wrapper">
      <div (click)="addEquipment()" class="---btn ---btn--fill-acent">Добавить</div>
    </div>

  </div>
</div>
