<div class="---page-rent-in ---row">
  <div class="---col-12 ---col-lg-6 ---form">
    <div class="---data-block">
      <div class="h2 ---font-sbold">Данные аренды</div>

      <div class="---row">
        <div class="---field ---col-12 ---col-xs-6">
          <label>Филиал</label>
          <div class="---select">
            <select class="---select__cur-value" [(ngModel)]="application.branch.val">
              <option class="---select__list-item" *ngFor="let branch of branches"
                      [ngValue]="branch.val">
                {{branch.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6">
          <label>Вид аренды</label>
          <div class="---select">
            <select class="---select__cur-value" [(ngModel)]="application.typeLease.val">
              <option class="---select__list-item" *ngFor="let applicationsTypeLease of applicationsTypeLeases"
                      [ngValue]="applicationsTypeLease.val">
                {{applicationsTypeLease.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6">
          <label>Скидка на аренду</label>
          <div class="---select">
            <select class="---select__cur-value" [(ngModel)]="application.sale.val">
              <option class="---select__list-item" *ngFor="let discount of discounts" [ngValue]="discount.val">
                {{discount.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6">
          <label>Доставка</label>
          <div class="---select">
            <select class="---select__cur-value" [(ngModel)]="application.delivery.val">
              <option class="---select__list-item" *ngFor="let delivery of applicationsDelivery"
                      [ngValue]="delivery.val">
                {{delivery.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6">
          <label>Источник</label>
          <div class="---select">
            <select class="---select__cur-value" [(ngModel)]="application.source.val">
              <option class="---select__list-item" *ngFor="let source of applicationsSource"
                      [ngValue]="source.val">
                {{source.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6">
          <label>Комментарий</label>
          <textarea class="---input" [(ngModel)]="application.comment"></textarea>
        </div>
        <div class="---field ---col-12 ---col-xs-6">
          <label>Начало аренды</label>
          <div class="---input ---input--calendar ---pos-rel">
            <div class="---select">
              <input type="date" [(ngModel)]="application.rent_start.val">
            </div>
            <i class="---y-pos-abs ifont ---icon-calendar"></i>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6">
          <label>Окончание аренды</label>
          <div class="---input ---input--calendar ---pos-rel">
            <input type="date" [(ngModel)]="application.rent_end.val">
            <i class="---y-pos-abs ifont ---icon-calendar"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="---data-block">
      <div class="h2 ---font-sbold ---d-flex ---flex-wrap ---align-items-center ---justify-content-between">
        Данные арендатора
      </div>

      <div class="---row">
        <div class="---field ---col-12 ---col-sm-6">
          <label>ФИО клиента</label>
          <div>{{application.client_fio}}</div>
        </div>

        <div class="---field ---col-12 ---col-xs-6">
          <label>Номер телефона</label>
          <div>{{application.client_phone | telephoneNumber}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="---col-12 ---col-lg-6">

    <div class="---r-side-add-block ---equipment-wrapper ---block--bg-white ---radius-5 ---form">
      <div class="h2 ---font-sbold">Запрашиваемое оборудование</div>
      <div class="---devider ---devider-mt0"></div>

      <div class="---prod-list">
        <div *ngFor="let equipment of application.equipments"
             class="---prod-item ---pos-rel ---d-flex ---align-items-center ---justify-content-between">
                        <span class="---prod-item__info ---d-inline-flex ---align-items-center">
                            <span
                              class="---prod-item__img ---radius-5 ---d-flex ---align-items-center ---justify-content-center">
                                <img src="/assets/imgs/catalog/{{equipment.photo}}.png" alt=""
                                     class="---lazyload ---img-contain">
                            </span>
                            <span class="---prod-item__title ---font-sbold">{{equipment.name}}</span>
                        </span>

          <span class="---prod-item__thumb ---d-inline-flex">
                            <span class="---thumb-item">
                                За единицу<br>
                                <span class="---font-sbold">{{equipment.price | digitsNumbers}} ₽</span>
                            </span>
                            <span class="---thumb-item">
                                В наличии<br>
                                <span class="---font-sbold">{{equipment.stock}} шт.</span>
                            </span>
                        </span>
        </div>

        <a href="#" class="---btn ---btn--fill-dark">Добавить</a>
      </div>

      <div class="---devider"></div>

      <div class="---total-price ---font-sbold h2">
        <div class="---delivery ---font-light">Доставка: {{application.delivery_sum | digitsNumbers}} ₽</div>
        Итого: {{application.sum | digitsNumbers}} ₽
      </div>

    </div>

  </div>
</div>
