<div class="---page-rent-in ---row">
  <div class="---col-12 ---col-lg-6 ---form">
    <div class="---data-block">
      <div class="h2 ---font-600">Данные аренды</div>

      <div class="---row">
        <div class="---field ---d-flex ---flex-wrap ---justify-content-between ---col-12">
          <div (click)="open_pay_list()" class="---btn ---btn--fill-acent">Платежи</div>
          <div (click)="showInsertSum()" class="---btn ---btn--fill-acent">Добавить платеж</div>
          <div *ngIf="globalParamsUser.type===1" (click)="delete_hire()" class="---btn ---btn--sm ---btn--fill-acent">Удалить заявку</div>
        </div>
        <div class="---field ---col-12 ---col-xs-6">
          <label>Филиал</label>
          <div class="---select">
            <select [(ngModel)]="application.branch.val">
              <option *ngFor="let branch of branches"
                      [ngValue]="branch.val">
                {{branch.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6">
          <label>Вид аренды</label>
          <div class="---select">
            <select [(ngModel)]="application.typeLease.val">
              <option *ngFor="let applicationsTypeLease of applicationsTypeLeases"
                      [ngValue]="applicationsTypeLease.val">
                {{applicationsTypeLease.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6">
          <label>Скидка на аренду</label>
          <div class="---select">
            <select [(ngModel)]="application.sale.val">
              <option *ngFor="let discount of discounts" [ngValue]="discount.val">
                {{discount.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6">
          <label>Доставка</label>
          <div class="---select">
            <select [(ngModel)]="application.delivery.val">
              <option *ngFor="let delivery of applicationsDelivery"
                      [ngValue]="delivery.val">
                {{delivery.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6">
          <label>Источник</label>
          <div class="---select">
            <select [(ngModel)]="application.source.val">
              <option *ngFor="let source of applicationsSource"
                      [ngValue]="source.val">
                {{source.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6">
          <label>Дата создания заявки</label>
          <div class="---input ---pos-rel">
            <input disabled [(ngModel)]="application.date_create">
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6">
          <label>Начало аренды</label>
          <div class="---input ---input--calendar ---pos-rel">
            <input class="---datepicker-input" [(ngModel)]="application.rent_start.val">
            <i class="---y-pos-abs ifont ---icon-calendar"></i>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6">
          <label>Окончание аренды</label>
          <div class="---input ---input--calendar ---pos-rel">
            <input class="---datepicker-input" [(ngModel)]="application.rent_end.val">
            <i class="---y-pos-abs ifont ---icon-calendar"></i>
          </div>
        </div>
        <div class="---field ---col-12">
          <label>Комментарий</label>
          <textarea class="---input" [(ngModel)]="application.comment"></textarea>
        </div>
      </div>
    </div>

    <div class="---data-block">
      <div class="h2 ---font-600 ---d-flex ---flex-wrap ---align-items-center ---justify-content-between">
        Данные арендатора
      </div>

      <div class="---row">
        <div class="---field ---col-12 ---col-sm-6">
          <label>ФИО клиента</label>
          <div class="---font-600">{{application.client_fio}}</div>
        </div>

        <div class="---field ---col-12 ---col-xs-6">
          <label>Номер телефона</label>
          <div class="---font-600">{{application.client_phone | telephoneNumber}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="---col-12 ---col-lg-6">

    <div class="---r-side-add-block ---equipment-wrapper ---block--bg-white ---radius-5 ---form">
      <div class="h2 ---font-600">Запрашиваемое оборудование</div>
      <div class="---devider ---devider-mt0"></div>

      <div class="---prod-list">
        <div class="---prod-item ---pos-rel ---d-flex ---align-items-center ---justify-content-between">
                        <span class="---prod-item__info ---d-inline-flex ---align-items-center">
                            <span
                              class="---prod-item__img ---radius-5 ---d-flex ---align-items-center ---justify-content-center">
                                <img *ngIf="application.equipments.photo!=''" src="http://u68857.netangels.ru/uploads/{{application.equipments.photo}}" alt=""
                                     class="---lazyload ---img-contain">
                              <img *ngIf="application.equipments.photo==''" src="{{application.equipments.photo_alias}}" alt=""
                                     class="---lazyload ---img-contain">
                            </span>
                            <span class="---prod-item__title ---font-600">{{application.equipments.name}}</span>
                        </span>

          <span class="---prod-item__thumb ---d-inline-flex">
                            <span class="---thumb-item">
                                Количество<br>
                                <span class="---font-600">{{application.equipments.count}}</span>
                            </span>
                        </span>
        </div>
      </div>


      <div class="---total-price ---font-600 h2">
        <div class="---delivery ---font-300">Доставка: {{application.delivery_sum | digitsNumbers}} ₽</div>
        Итого: {{application.sum | digitsNumbers}} ₽
      </div>

    </div>

  </div>
</div>
