<div class="---page-clients">

  <div class="---tabs ---tabs--finance">
    <div class="---tabs__switchers-wrapper ---d-flex ---align-items-center ---justify-content-between">
      <div class="---tabs__switchers ---h1 ---font-300 ---d-flex">
        <div class="---tabs__switcher ---is-active" (click)="changeTypeApplications('')">Все заявки</div>
        <div class="---tabs__switcher" *ngFor="let source of applicationsSource" (click)="changeTypeApplications(source.val)">{{source.name}}</div>
      </div>
    </div>

    <div class="---h-filters-wrapper ---d-flex ---justify-content-between ---align-items-start">

      <div class="---d-flex ---form ---align-items-start">
        <div [ngClass]="{'---is-active':showFilters}"
             class="---filters ---radius-5 ---d-inline-flex ---align-items-center"
             (click)="changeShowFilters()">
          Фильтры
          <i class="ifont ---icon-menu-finance ---d-none ---sm-d-flex"></i>
        </div>

        <div [ngClass]="{'---is-active':showActiveFields===true}"
             class="---filters ---radius-5 ---d-inline-flex ---align-items-center"
             (click)="changeActiveFields()">
          Активные поля
          <i class="ifont ---icon-list ---d-none ---sm-d-flex"></i>
        </div>
      </div>
    </div>

    <div *ngIf="showFilters" class="---block--bg-white ---block-filter ---radius-5 ---form">
      <div class="---row">
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Статус</label>
          <div class="---select">
            <select
                    [(ngModel)]="filters.status">
              <option *ngFor="let status of deliveryStatus" [ngValue]="status.val">
                {{status.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Филиал</label>
          <div class="---select">
            <select
                    [(ngModel)]="filters.branch">
              <option *ngFor="let branch of branches" [ngValue]="branch.val">
                {{branch.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Дата обращения начало</label>
          <div class="---input ---input--calendar">
            <input type="date" [(ngModel)]="filters.date_start">
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Дата обращения конец</label>
          <div class="---input ---input--calendar">
            <input type="date" [(ngModel)]="filters.date_end">
          </div>
        </div>
      </div>

      <div class="---btns ---d-flex">
        <div (click)="getApplication()" class="---btn ---btn--fill-acent">Применить фильтры</div>
        <div (click)="clearFilter()" class="---btn ---btn--border-bg">
          Сбросить фильры
          <i class="ifont ---icon-close"></i>
        </div>
      </div>
    </div>

    <div *ngIf="showActiveFields" id="active-field" class=" ---block--bg-white ---block-filter ---radius-5 ---form">
      <div class="---row">
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3" *ngFor="let activeField of activeFields; let i = index">
          <label for="right_{{activeField.code}}" class="---checkbox" [ngClass]="{'---is-active':activeField.flag}">
            <input type="checkbox"
                   id="right_{{activeField.code}}"
                   (change)="changeCheckbox(i)"
                   [checked]="activeField.flag">
            {{activeField.name}}
          </label>
        </div>

      </div>

      <div class="---btns ---d-flex">
        <div (click)="changeFields()" class="---btn ---btn--fill-acent">Применить</div>
      </div>
    </div>

    <div class="---t-wrapper">
      <table matSort (matSortChange)="sortData($event)">
        <tr>
          <th></th>
          <ng-container *ngFor="let activeField of activeFields">
            <th mat-sort-header="{{activeField.code}}" *ngIf="activeField.flag===1">{{activeField.name}}</th>
          </ng-container>
        </tr>

        <tr (dblclick)="applicationDetails(application.equipments_id)" *ngFor="let application of applications | paginate: { itemsPerPage: 50, currentPage: p }">
          <td>
            <div (click)="applicationDetails(application.equipments_id)" class="ifont ---icon-edit ---radius-5"></div>
          </td>
          <td *ngIf="activeFieldsTables['client']===1">{{application.client}}</td>
          <td *ngIf="activeFieldsTables['phone']===1">{{application.phone | telephoneNumber}}</td>
          <td *ngIf="activeFieldsTables['equipments_name']===1">{{application.equipments_name}}</td>
          <td [style.background]='application.color' *ngIf="activeFieldsTables['status']===1">
            <div class="---select">
              <select
                      (change)="changeStatus(application)"
                      [(ngModel)]="application.status">
                <option *ngFor="let status of deliveryStatus" [ngValue]="status.val">
                  {{status.name}}
                </option>
              </select>
            </div>
          </td>
          <td *ngIf="activeFieldsTables['source']===1">{{application.source}}</td>
          <td *ngIf="activeFieldsTables['comment']===1">{{application.comment}}</td>
          <td *ngIf="activeFieldsTables['user']===1">{{application.user}}</td>
          <td *ngIf="activeFieldsTables['equipments_count']===1">{{application.equipments_count}}</td>
          <td *ngIf="activeFieldsTables['date_create']===1">{{application.date_create}}</td>
        </tr>
      </table>
    </div>

  </div>
</div>
