<div class="---page-clients">

  <div class="---tabs ---tabs--finance">
    <div class="---tabs__switchers-wrapper ---d-flex ---align-items-center ---justify-content-between">
      <div class="---tabs__switchers ---h1 ---font-light ---d-flex">
        <div class="---tabs__switcher ---is-active" (click)="changeTypeApplications('')">Все заявки</div>
        <div class="---tabs__switcher" (click)="changeTypeApplications('1')">С сайта</div>
        <div class="---tabs__switcher" (click)="changeTypeApplications('2')">Соц. сети</div>
        <div class="---tabs__switcher" (click)="changeTypeApplications('3')">Звонки</div>
      </div>
    </div>

    <div class="---h-filters-wrapper ---d-flex ---justify-content-between ---align-items-start">

      <div class="---d-flex ---form ---align-items-start">
        <div class="---filters ---js-toggle-show ---radius-5 ---d-inline-flex ---align-items-center"
             (click)="changeShowFilters()">
          Фильтры
          <i class="ifont ---icon-menu-finance ---d-none ---sm-d-flex"></i>
        </div>

        <div class="---filters ---js-toggle-show ---radius-5 ---d-inline-flex ---align-items-center"
             (click)="changeActiveFields()">
          Активные поля
          <i class="ifont ---icon-list ---d-none ---sm-d-flex"></i>
        </div>

        <div class="---search ---field ---pos-rel">
          <input class="---input" placeholder="Поиск по складу" [(ngModel)]="filters.like"
                 (keyup)="getApplications()">
          <button class="---y-pos-abs ifont ---icon-loop"></button>
        </div>
      </div>

      <a routerLink='/equipments-create' class="---btn ---btn--fill-acent">Новая заявка</a>
    </div>

    <div *ngIf="showFilters" class="---block--bg-white ---block-filter ---radius-5 ---form">
    </div>

    <div *ngIf="showActiveFields" id="active-field" class=" ---block--bg-white ---block-filter ---radius-5 ---form">
      <div class="---row">
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3" *ngFor="let activeField of activeFields; let i = index">
          <label for="right_{{activeField.code}}" class="---checkbox">
            <input type="checkbox"
                   id="right_{{activeField.code}}"
                   (change)="changeCheckbox(i)"
                   [checked]="activeField.flag">
            {{activeField.name}}
          </label>
        </div>

      </div>

      <div class="---btns ---d-flex">
        <div (click)="changeFields()" class="---btn ---btn--fill-acent">Применить</div>
      </div>
    </div>

    <div class="---t-wrapper">
      <table>
        <tr>
          <ng-container *ngFor="let activeField of activeFields">
            <th *ngIf="activeField.flag===1">{{activeField.name}}</th>
          </ng-container>
        </tr>
      </table>
    </div>

  </div>
</div>
