<div class="---page-clients">

  <div class="---tabs ---tabs--finance">
    <div class="---tabs__switchers-wrapper ---d-flex ---align-items-center ---justify-content-between">
      <div class="---tabs__switchers ---h1 ---font-light ---d-flex">
        <div class="---tabs__switcher ---is-active" (click)="changeTypeClients('all')">Все клиенты</div>
        <div class="---tabs__switcher" (click)="changeTypeClients('ur')">Юр. лица</div>
        <div class="---tabs__switcher" (click)="changeTypeClients('fiz')">Физ. лица</div>
      </div>
    </div>

    <div class="---h-filters-wrapper ---d-flex ---justify-content-between ---align-items-start">

      <div class="---d-flex ---form ---align-items-start">
        <div class="---filters ---js-toggle-show ---radius-5 ---d-inline-flex ---align-items-center"
             (click)="changeShowFilters()">
          Фильтры
          <i class="ifont ---icon-menu-finance ---d-none ---sm-d-flex"></i>
        </div>

        <div class="---filters ---js-toggle-show ---radius-5 ---d-inline-flex ---align-items-center"
             (click)="changeActiveFields()">
          Активные поля
          <i class="ifont ---icon-list ---d-none ---sm-d-flex"></i>
        </div>

        <div class="---search ---field ---pos-rel">
          <input class="---input" placeholder="Поиск по клиентам" [(ngModel)]="filters.like"
                 (keyup)="getClients()">
          <button class="---y-pos-abs ifont ---icon-loop"></button>
        </div>
      </div>

      <a routerLink='/client-create'  class="---btn ---btn--fill-acent">Добавить клиента</a>

    </div>

    <div *ngIf="showFilters" class="---block--bg-white ---block-filter ---radius-5 ---form">
      <div class="---row">
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Источник</label>
          <div class="---select">
            <select class="---select__cur-value" [(ngModel)]="filters.source">
              <option class="---select__list-item" *ngFor="let source of sourceList" [ngValue]="source">
                {{source.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Статус</label>
          <div class="---select">
            <select class="---select__cur-value" [(ngModel)]="filters.status">
              <option class="---select__list-item" *ngFor="let status of statusList" [ngValue]="status">
                {{status.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Дата обращения начало</label>
          <div>
            <input type="date" [(ngModel)]="filters.date_start">
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Дата обращения конец</label>
          <div class="---select">
            <input type="date" [(ngModel)]="filters.date_end">
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Выручка от</label>
          <div class="---select">
            <input type="text" mask="separator" [(ngModel)]="filters.dohod_start">
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Выручка до</label>
          <div class="---select">
            <input type="text" mask="separator" [(ngModel)]="filters.dohod_end">
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Количество прокатов от</label>
          <div class="---select">
            <input type="text" mask="separator" [(ngModel)]="filters.rentals_start">
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Количество прокатов до</label>
          <div class="---select">
            <input type="text" mask="separator" [(ngModel)]="filters.rentals_end">
          </div>
        </div>
      </div>

      <div class="---btns ---d-flex">
        <div (click)="getClients()" class="---btn ---btn--fill-acent">Применить фильтры</div>
        <div (click)="clearFilter()" class="---btn ---btn--border-bg">
          Сбросить фильры
          <i class="ifont ---icon-close"></i>
        </div>
      </div>
    </div>

    <div *ngIf="showActiveFields" id="active-field" class=" ---block--bg-white ---block-filter ---radius-5 ---form">
      <div class="---row">
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3" *ngFor="let activeField of activeFields; let i = index">
          <label for="right_{{activeField.code}}" class="---checkbox">
            <input type="checkbox"
                   id="right_{{activeField.code}}"
                   (change)="changeCheckbox(i)"
                   [checked]="activeField.flag">
            {{activeField.name}}
          </label>
        </div>

      </div>

      <div class="---btns ---d-flex">
        <div (click)="changeFields()" class="---btn ---btn--fill-acent">Применить</div>
      </div>
    </div>

    <div class="---tabs__tab ---is-visible" data-tab="1">

      <div class="---t-wrapper">
        <table>
          <tr>
            <ng-container *ngFor="let activeField of activeFields">
              <th *ngIf="activeField.flag===1">{{activeField.name}}</th>
            </ng-container>
          </tr>

          <tr *ngFor="let client of clients | paginate: { itemsPerPage: 10, currentPage: p }">
            <td *ngIf="activeFieldsTables['org']===1">{{client.org}}</td>
            <td *ngIf="activeFieldsTables['fio']===1">{{client.fio}}</td>
            <td *ngIf="activeFieldsTables['phone']===1">{{client.phone | telephoneNumber}}</td>
            <td *ngIf="activeFieldsTables['status']===1">
              <div [ngClass]="{
              '---purple':client.status===1,
              '---dark':client.status===2,
              '---dark-red':client.status===3,
              '---light-red':client.status===4
              }" class="---select ---bg-color select-png bg-white">
                <select class="---select__cur-value w-200"
                        (change)="changeStatus(client)"
                        [(ngModel)]="client.status">
                  <option class="---select__list-item" *ngFor="let status of statusList" [ngValue]="status.val">
                    {{status.name}}
                  </option>
                </select>
              </div>
            </td>
            <td *ngIf="activeFieldsTables['date_create']===1">{{client.date_create}}</td>
            <td *ngIf="activeFieldsTables['last_contact']===1">{{client.last_contact}}</td>
            <td *ngIf="activeFieldsTables['source']===1">{{client.source.name}}</td>
            <td *ngIf="activeFieldsTables['rentals']===1">{{client.rentals}}</td>
            <td *ngIf="activeFieldsTables['dohod']===1">
              <div class="---font-sbold">{{client.dohod| digitsNumbers}} ₽</div>
            </td>
            <td *ngIf="activeFieldsTables['sale']===1">
              <div class="---font-sbold">{{client.sale}} %</div>
            </td>
          </tr>
        </table>
      </div>

      <div
        class="---block--bg-white ---block-pagination ---d-flex ---align-items-center ---justify-content-between ---radius-5">
        <pagination-controls previousLabel='' nextLabel="" (pageChange)="p = $event"></pagination-controls>

        <div>Всего клиентов — <span class="---font-sbold">{{clients.length | digitsNumbers}}</span></div>
      </div>
    </div>
  </div>

</div>
