<div class="---page-clients">

  <div class="---tabs ---tabs--finance">
    <div class="---tabs__switchers-wrapper ---d-flex ---align-items-center ---justify-content-between">
      <div class="---tabs__switchers ---h1 ---font-light ---d-flex">
        <div class="---tabs__switcher ---is-active" data-tab="1">Все клиенты</div>
        <div class="---tabs__switcher" data-tab="2">Юр. лица</div>
        <div class="---tabs__switcher" data-tab="3">Физ. лица</div>
      </div>
    </div>

    <div class="---h-filters-wrapper ---d-flex ---justify-content-between ---align-items-start">

      <div class="---d-flex ---form ---align-items-start">
        <a href="#" class="---filters ---js-toggle-show ---radius-5 ---d-inline-flex ---align-items-center"
           data-block="#filter">
          Фильтры
          <i class="ifont ---icon-menu-finance ---d-none ---sm-d-flex"></i>
        </a>

        <a href="#" class="---filters ---js-toggle-show ---radius-5 ---d-inline-flex ---align-items-center"
           data-block="#active-field">
          Активные поля
          <i class="ifont ---icon-list ---d-none ---sm-d-flex"></i>
        </a>

        <div class="---search ---field ---pos-rel">
          <input class="---input" placeholder="Поиск по клиентам" [(ngModel)]="searchVar" (keydown)="searchUrClient()">
          <button class="---y-pos-abs ifont ---icon-loop"></button>
        </div>
      </div>

      <a href="#" class="---btn ---btn--fill-acent">Добавить товар</a>

    </div>

    <div id="filter" class="---d-none ---block--bg-white ---block-filter ---radius-5 ---form">
      <div class="---row">
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Статус заказа</label>
          <div class="---select">
            <select>
              <option value="">Электроинструменты 1</option>
              <option value="">Электроинструменты 2</option>
              <option value="">Электроинструменты 3</option>
              <option value="">Электроинструменты 4</option>
              <option value="">Электроинструменты 5</option>
            </select>

            <div class="---select__cur-value">
              <span>Электроинструменты</span>
              <i class="ifont ---icon-arrow-down ---y-pos-abs"></i>
            </div>

            <div class="---select__list-wrapper">
              <div class="---select__list">
                <a href="#" class="---select__list-item">Электроинструменты 1</a>
                <a href="#" class="---select__list-item">Электроинструменты 2</a>
                <a href="#" class="---select__list-item">Электроинструменты 3</a>
                <a href="#" class="---select__list-item">Электроинструменты 4</a>
                <a href="#" class="---select__list-item">Электроинструменты 5</a>
              </div>
            </div>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Даты заказа</label>
          <div class="---select">
            <select>
              <option value="">Электроинструменты 1</option>
              <option value="">Электроинструменты 2</option>
              <option value="">Электроинструменты 3</option>
              <option value="">Электроинструменты 4</option>
              <option value="">Электроинструменты 5</option>
            </select>

            <div class="---select__cur-value">
              <span>Электроинструменты</span>
              <i class="ifont ---icon-arrow-down ---y-pos-abs"></i>
            </div>

            <div class="---select__list-wrapper">
              <div class="---select__list">
                <a href="#" class="---select__list-item">Электроинструменты 1</a>
                <a href="#" class="---select__list-item">Электроинструменты 2</a>
                <a href="#" class="---select__list-item">Электроинструменты 3</a>
                <a href="#" class="---select__list-item">Электроинструменты 4</a>
                <a href="#" class="---select__list-item">Электроинструменты 5</a>
              </div>
            </div>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Тип изделия</label>
          <div class="---select">
            <select>
              <option value="">Электроинструменты 1</option>
              <option value="">Электроинструменты 2</option>
              <option value="">Электроинструменты 3</option>
              <option value="">Электроинструменты 4</option>
              <option value="">Электроинструменты 5</option>
            </select>

            <div class="---select__cur-value">
              <span>Электроинструменты</span>
              <i class="ifont ---icon-arrow-down ---y-pos-abs"></i>
            </div>

            <div class="---select__list-wrapper">
              <div class="---select__list">
                <a href="#" class="---select__list-item">Электроинструменты 1</a>
                <a href="#" class="---select__list-item">Электроинструменты 2</a>
                <a href="#" class="---select__list-item">Электроинструменты 3</a>
                <a href="#" class="---select__list-item">Электроинструменты 4</a>
                <a href="#" class="---select__list-item">Электроинструменты 5</a>
              </div>
            </div>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Менеджер</label>
          <div class="---select">
            <select>
              <option value="">Электроинструменты 1</option>
              <option value="">Электроинструменты 2</option>
              <option value="">Электроинструменты 3</option>
              <option value="">Электроинструменты 4</option>
              <option value="">Электроинструменты 5</option>
            </select>

            <div class="---select__cur-value">
              <span>Электроинструменты</span>
              <i class="ifont ---icon-arrow-down ---y-pos-abs"></i>
            </div>

            <div class="---select__list-wrapper">
              <div class="---select__list">
                <a href="#" class="---select__list-item">Электроинструменты 1</a>
                <a href="#" class="---select__list-item">Электроинструменты 2</a>
                <a href="#" class="---select__list-item">Электроинструменты 3</a>
                <a href="#" class="---select__list-item">Электроинструменты 4</a>
                <a href="#" class="---select__list-item">Электроинструменты 5</a>
              </div>
            </div>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Статус заказа</label>
          <div class="---select">
            <select>
              <option value="">Электроинструменты 1</option>
              <option value="">Электроинструменты 2</option>
              <option value="">Электроинструменты 3</option>
              <option value="">Электроинструменты 4</option>
              <option value="">Электроинструменты 5</option>
            </select>

            <div class="---select__cur-value">
              <span>Электроинструменты</span>
              <i class="ifont ---icon-arrow-down ---y-pos-abs"></i>
            </div>

            <div class="---select__list-wrapper">
              <div class="---select__list">
                <a href="#" class="---select__list-item">Электроинструменты 1</a>
                <a href="#" class="---select__list-item">Электроинструменты 2</a>
                <a href="#" class="---select__list-item">Электроинструменты 3</a>
                <a href="#" class="---select__list-item">Электроинструменты 4</a>
                <a href="#" class="---select__list-item">Электроинструменты 5</a>
              </div>
            </div>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Даты заказа</label>
          <div class="---select">
            <select>
              <option value="">Электроинструменты 1</option>
              <option value="">Электроинструменты 2</option>
              <option value="">Электроинструменты 3</option>
              <option value="">Электроинструменты 4</option>
              <option value="">Электроинструменты 5</option>
            </select>

            <div class="---select__cur-value">
              <span>Электроинструменты</span>
              <i class="ifont ---icon-arrow-down ---y-pos-abs"></i>
            </div>

            <div class="---select__list-wrapper">
              <div class="---select__list">
                <a href="#" class="---select__list-item">Электроинструменты 1</a>
                <a href="#" class="---select__list-item">Электроинструменты 2</a>
                <a href="#" class="---select__list-item">Электроинструменты 3</a>
                <a href="#" class="---select__list-item">Электроинструменты 4</a>
                <a href="#" class="---select__list-item">Электроинструменты 5</a>
              </div>
            </div>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Тип изделия</label>
          <div class="---select">
            <select>
              <option value="">Электроинструменты 1</option>
              <option value="">Электроинструменты 2</option>
              <option value="">Электроинструменты 3</option>
              <option value="">Электроинструменты 4</option>
              <option value="">Электроинструменты 5</option>
            </select>

            <div class="---select__cur-value">
              <span>Электроинструменты</span>
              <i class="ifont ---icon-arrow-down ---y-pos-abs"></i>
            </div>

            <div class="---select__list-wrapper">
              <div class="---select__list">
                <a href="#" class="---select__list-item">Электроинструменты 1</a>
                <a href="#" class="---select__list-item">Электроинструменты 2</a>
                <a href="#" class="---select__list-item">Электроинструменты 3</a>
                <a href="#" class="---select__list-item">Электроинструменты 4</a>
                <a href="#" class="---select__list-item">Электроинструменты 5</a>
              </div>
            </div>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Менеджер</label>
          <div class="---select">
            <select>
              <option value="">Электроинструменты 1</option>
              <option value="">Электроинструменты 2</option>
              <option value="">Электроинструменты 3</option>
              <option value="">Электроинструменты 4</option>
              <option value="">Электроинструменты 5</option>
            </select>

            <div class="---select__cur-value">
              <span>Электроинструменты</span>
              <i class="ifont ---icon-arrow-down ---y-pos-abs"></i>
            </div>

            <div class="---select__list-wrapper">
              <div class="---select__list">
                <a href="#" class="---select__list-item">Электроинструменты 1</a>
                <a href="#" class="---select__list-item">Электроинструменты 2</a>
                <a href="#" class="---select__list-item">Электроинструменты 3</a>
                <a href="#" class="---select__list-item">Электроинструменты 4</a>
                <a href="#" class="---select__list-item">Электроинструменты 5</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="---btns ---d-flex">
        <a href="#" class="---btn ---btn--fill-acent">Применить фильтры</a>
        <a href="#" class="---btn ---btn--border-bg">
          Сбросить фильры
          <i class="ifont ---icon-close"></i>
        </a>
      </div>
    </div>

    <div id="active-field" class="---d-none ---block--bg-white ---block-filter ---radius-5 ---form">
      <div class="---row">
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Статус заказа</label>
          <div class="---select">
            <select>
              <option value="">Электроинструменты 1</option>
              <option value="">Электроинструменты 2</option>
              <option value="">Электроинструменты 3</option>
              <option value="">Электроинструменты 4</option>
              <option value="">Электроинструменты 5</option>
            </select>

            <div class="---select__cur-value">
              <span>Электроинструменты</span>
              <i class="ifont ---icon-arrow-down ---y-pos-abs"></i>
            </div>

            <div class="---select__list-wrapper">
              <div class="---select__list">
                <a href="#" class="---select__list-item">Электроинструменты 1</a>
                <a href="#" class="---select__list-item">Электроинструменты 2</a>
                <a href="#" class="---select__list-item">Электроинструменты 3</a>
                <a href="#" class="---select__list-item">Электроинструменты 4</a>
                <a href="#" class="---select__list-item">Электроинструменты 5</a>
              </div>
            </div>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Даты заказа</label>
          <div class="---select">
            <select>
              <option value="">Электроинструменты 1</option>
              <option value="">Электроинструменты 2</option>
              <option value="">Электроинструменты 3</option>
              <option value="">Электроинструменты 4</option>
              <option value="">Электроинструменты 5</option>
            </select>

            <div class="---select__cur-value">
              <span>Электроинструменты</span>
              <i class="ifont ---icon-arrow-down ---y-pos-abs"></i>
            </div>

            <div class="---select__list-wrapper">
              <div class="---select__list">
                <a href="#" class="---select__list-item">Электроинструменты 1</a>
                <a href="#" class="---select__list-item">Электроинструменты 2</a>
                <a href="#" class="---select__list-item">Электроинструменты 3</a>
                <a href="#" class="---select__list-item">Электроинструменты 4</a>
                <a href="#" class="---select__list-item">Электроинструменты 5</a>
              </div>
            </div>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Тип изделия</label>
          <div class="---select">
            <select>
              <option value="">Электроинструменты 1</option>
              <option value="">Электроинструменты 2</option>
              <option value="">Электроинструменты 3</option>
              <option value="">Электроинструменты 4</option>
              <option value="">Электроинструменты 5</option>
            </select>

            <div class="---select__cur-value">
              <span>Электроинструменты</span>
              <i class="ifont ---icon-arrow-down ---y-pos-abs"></i>
            </div>

            <div class="---select__list-wrapper">
              <div class="---select__list">
                <a href="#" class="---select__list-item">Электроинструменты 1</a>
                <a href="#" class="---select__list-item">Электроинструменты 2</a>
                <a href="#" class="---select__list-item">Электроинструменты 3</a>
                <a href="#" class="---select__list-item">Электроинструменты 4</a>
                <a href="#" class="---select__list-item">Электроинструменты 5</a>
              </div>
            </div>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Менеджер</label>
          <div class="---select">
            <select>
              <option value="">Электроинструменты 1</option>
              <option value="">Электроинструменты 2</option>
              <option value="">Электроинструменты 3</option>
              <option value="">Электроинструменты 4</option>
              <option value="">Электроинструменты 5</option>
            </select>

            <div class="---select__cur-value">
              <span>Электроинструменты</span>
              <i class="ifont ---icon-arrow-down ---y-pos-abs"></i>
            </div>

            <div class="---select__list-wrapper">
              <div class="---select__list">
                <a href="#" class="---select__list-item">Электроинструменты 1</a>
                <a href="#" class="---select__list-item">Электроинструменты 2</a>
                <a href="#" class="---select__list-item">Электроинструменты 3</a>
                <a href="#" class="---select__list-item">Электроинструменты 4</a>
                <a href="#" class="---select__list-item">Электроинструменты 5</a>
              </div>
            </div>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Статус заказа</label>
          <div class="---select">
            <select>
              <option value="">Электроинструменты 1</option>
              <option value="">Электроинструменты 2</option>
              <option value="">Электроинструменты 3</option>
              <option value="">Электроинструменты 4</option>
              <option value="">Электроинструменты 5</option>
            </select>

            <div class="---select__cur-value">
              <span>Электроинструменты</span>
              <i class="ifont ---icon-arrow-down ---y-pos-abs"></i>
            </div>

            <div class="---select__list-wrapper">
              <div class="---select__list">
                <a href="#" class="---select__list-item">Электроинструменты 1</a>
                <a href="#" class="---select__list-item">Электроинструменты 2</a>
                <a href="#" class="---select__list-item">Электроинструменты 3</a>
                <a href="#" class="---select__list-item">Электроинструменты 4</a>
                <a href="#" class="---select__list-item">Электроинструменты 5</a>
              </div>
            </div>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Даты заказа</label>
          <div class="---select">
            <select>
              <option value="">Электроинструменты 1</option>
              <option value="">Электроинструменты 2</option>
              <option value="">Электроинструменты 3</option>
              <option value="">Электроинструменты 4</option>
              <option value="">Электроинструменты 5</option>
            </select>

            <div class="---select__cur-value">
              <span>Электроинструменты</span>
              <i class="ifont ---icon-arrow-down ---y-pos-abs"></i>
            </div>

            <div class="---select__list-wrapper">
              <div class="---select__list">
                <a href="#" class="---select__list-item">Электроинструменты 1</a>
                <a href="#" class="---select__list-item">Электроинструменты 2</a>
                <a href="#" class="---select__list-item">Электроинструменты 3</a>
                <a href="#" class="---select__list-item">Электроинструменты 4</a>
                <a href="#" class="---select__list-item">Электроинструменты 5</a>
              </div>
            </div>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Тип изделия</label>
          <div class="---select">
            <select>
              <option value="">Электроинструменты 1</option>
              <option value="">Электроинструменты 2</option>
              <option value="">Электроинструменты 3</option>
              <option value="">Электроинструменты 4</option>
              <option value="">Электроинструменты 5</option>
            </select>

            <div class="---select__cur-value">
              <span>Электроинструменты</span>
              <i class="ifont ---icon-arrow-down ---y-pos-abs"></i>
            </div>

            <div class="---select__list-wrapper">
              <div class="---select__list">
                <a href="#" class="---select__list-item">Электроинструменты 1</a>
                <a href="#" class="---select__list-item">Электроинструменты 2</a>
                <a href="#" class="---select__list-item">Электроинструменты 3</a>
                <a href="#" class="---select__list-item">Электроинструменты 4</a>
                <a href="#" class="---select__list-item">Электроинструменты 5</a>
              </div>
            </div>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Менеджер</label>
          <div class="---select">
            <select>
              <option value="">Электроинструменты 1</option>
              <option value="">Электроинструменты 2</option>
              <option value="">Электроинструменты 3</option>
              <option value="">Электроинструменты 4</option>
              <option value="">Электроинструменты 5</option>
            </select>

            <div class="---select__cur-value">
              <span>Электроинструменты</span>
              <i class="ifont ---icon-arrow-down ---y-pos-abs"></i>
            </div>

            <div class="---select__list-wrapper">
              <div class="---select__list">
                <a href="#" class="---select__list-item">Электроинструменты 1</a>
                <a href="#" class="---select__list-item">Электроинструменты 2</a>
                <a href="#" class="---select__list-item">Электроинструменты 3</a>
                <a href="#" class="---select__list-item">Электроинструменты 4</a>
                <a href="#" class="---select__list-item">Электроинструменты 5</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="---btns ---d-flex">
        <a href="#" class="---btn ---btn--fill-acent">Применить фильтры</a>
        <a href="#" class="---btn ---btn--border-bg">
          Сбросить фильры
          <i class="ifont ---icon-close"></i>
        </a>
      </div>
    </div>

    <div class="---tabs__tab ---is-visible" data-tab="1">

      <div class="---t-wrapper">
        <table>
          <tr>
            <th><label class="---checkbox"></label></th>
            <th>юр. лицо</th>
            <th>номер телефона</th>
            <th>Статус</th>
            <th>Добавлен</th>
            <th>Последний конт.</th>
            <th>Источник</th>
            <th>Прокатов</th>
            <th>Доход</th>
            <th>Скидка</th>
          </tr>

          <tr *ngFor="let client of clientsUr | paginate: { itemsPerPage: 10, currentPage: p }">
            <td><label class="---checkbox"></label></td>
            <td>{{client.name}}</td>
            <td>{{client.phone | telephoneNumber}}</td>
            <td>
              <div class="---purple ---bg-color">
                <select class="---select__cur-value" [(ngModel)]="client.status">
                  <option class="---select__list-item" *ngFor="let status of statusList" [ngValue]="status.val">
                    {{status.name}}
                  </option>
                </select>
              </div>
            </td>
            <td>{{client.date_create}}</td>
            <td>{{client.last_contact}}</td>
            <td>{{client.source.name}}</td>
            <td>{{client.rentals}}</td>
            <td>
              <div class="---font-sbold">{{client.dohod| digitsNumbers}} ₽</div>
            </td>
            <td>
              <div class="---font-sbold">{{client.sale}} %</div>
            </td>
          </tr>
        </table>
      </div>

      <div class="---block--bg-white ---block-pagination ---d-flex ---align-items-center ---justify-content-between ---radius-5">
        <pagination-controls previousLabel='' nextLabel="" (pageChange)="p = $event"></pagination-controls>
      </div>

      <div class="---block--bg-white ---block-pagination ---d-flex ---align-items-center ---justify-content-between ---radius-5">
        <div class="---pagination__total-count">
          Всего платежей — <span class="---font-sbold">8 521</span>
        </div>
      </div>

    </div>
  </div>

</div>
