<div class="---page-client-in ---row">
  <div class="---col-12 ---col-lg-6 ---form">
    <div class="---data-block">
      <div class="h2 ---font-600">О товаре</div>

      <div class="---row">
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Модель</label>
          <input type="text" class="---input ---shadow--bg" [(ngModel)]="newEquipments.model">
        </div>
      </div>
    </div>

    <div class="---btns-wrapper">
      <div (click)="addEquipment()" class="---btn ---btn--fill-acent">Добавить</div>
    </div>

  </div>
</div>
