<div class="---page-client-in ---row">
  <div class="---col-12 ---col-lg-6 ---form">

    <div class="---col-12 ---field ---d-flex ---flex-wrap">
      <div *ngIf="globalParamsUser.type===1" style="margin: 0 10px 10px 0;" (click)="delete_eq()"
           class="---btn ---btn--sm ---btn--fill-acent">Удалить оборудование
      </div>
      <div *ngIf="equipment.confirmed === '0'" (click)="updateEquipmentConfirmed()" style="margin: 0 10px 10px 0;" class="---btn ---btn--sm ---btn--fill-acent">
        Подтвердить данные
      </div>
    </div>

    <div class="---data-block">
      <div class="h2 ---font-600">О товаре</div>

      <div class="---row">
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Марка</label>
          <div class="---select">
            <select [(ngModel)]="equipment.mark">
              <option *ngFor="let equipmentsMark of equipmentsMarkList"
                      [ngValue]="equipmentsMark.val">
                {{equipmentsMark.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Модель</label>
          <input class="---input ---shadow--bg" [(ngModel)]="equipment.model">
        </div>
      </div>
      <div class="---row">
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Склад</label>
          <div class="---select">
            <select [(ngModel)]="equipment.new_stock">
              <option *ngFor="let stock of stocks" [ngValue]="stock.val">
                {{stock.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6"
             *ngIf="equipment.new_stock!==equipment.old_stock">
          <label>Причина изменения склада</label>
          <input class="---input ---shadow--bg" [(ngModel)]="reason_change_stock">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Категория</label>
          <div class="---select">
            <select [(ngModel)]="equipment.category" (change)="changeTypeList()">
              <option *ngFor="let equipmentsCategory of equipmentsCategoryList"
                      [ngValue]="equipmentsCategory.val">
                {{equipmentsCategory.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Тип оборудования</label>
          <div class="---select">
            <select [(ngModel)]="equipment.type">
              <option *ngFor="let equipmentsType of equipmentsTypeList"
                      [ngValue]="equipmentsType.val">
                {{equipmentsType.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>номер инструмента</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="equipment.tool_number">
        </div>
      </div>
      <div class="---row">
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Статус</label>
          <div class="---select">
            <select [(ngModel)]="equipment.new_status" (change)="checkShowField()">
              <option *ngFor="let equipmentsStatus of showEquipmentsStatusList"
                      [ngValue]="equipmentsStatus.val">
                {{equipmentsStatus.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6"
             *ngIf="show_reason_change_status">
          <label>Причина изменения статуса</label>
          <input class="---input ---shadow--bg" [(ngModel)]="reason_change_status">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6"
             *ngIf="show_amount_repair">
          <label>Сумма ремонта</label>
          <input class="---input ---shadow--bg" mask="separator" [(ngModel)]="amount_repair">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6"
             *ngIf="show_sale_amount">
          <label>Стоимость продажи</label>
          <input class="---input ---shadow--bg" mask="separator" [(ngModel)]="sale_amount">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6"
             *ngIf="show_cash_box">
          <label>Касса</label>
          <div class="---select">
            <select [(ngModel)]="cash_box">
              <option *ngFor="let cashBox of financeCashBox"
                      [ngValue]="cashBox.val">
                {{cashBox.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="---data-block">
      <div class="h2 ---font-600">Данные на аренду</div>

      <div class="---row">
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Износ оборудования</label>
          <div class="---input ---input--wear ---font-600 ---d-flex ---align-items-center ---justify-content-between">
            <div>
              <input class="mini-input" [(ngModel)]="equipment.degree_wear" style="width: 30px; color: #fff;">%
            </div>

            <div class="---d-flex">
              <div class="---dot" [ngClass]="{'---dot--acent':equipment.degree_wear > 9}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':equipment.degree_wear > 19}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':equipment.degree_wear > 29}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':equipment.degree_wear > 39}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':equipment.degree_wear > 49}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':equipment.degree_wear > 59}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':equipment.degree_wear > 69}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':equipment.degree_wear > 79}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':equipment.degree_wear > 89}"></div>
              <div class="---dot" [ngClass]="{'---dot--acent':equipment.degree_wear === 100}"></div>
            </div>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Цена аренды за сутки</label>
          <input class="---input ---shadow--bg" mask="separator" [(ngModel)]="equipment.price_per_day">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Цена продажи</label>
          <input class="---input ---shadow--bg" mask="separator" [(ngModel)]="equipment.selling_price">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Количество прокатов</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="equipment.rentals">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Количество ремонтов</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="equipment.repairs">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Сумма ремонтов</label>
          <input class="---input ---shadow--bg" mask="separator" [(ngModel)]="equipment.repairs_sum">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Коэффициент окупаемости</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="equipment.payback_ratio">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Выручка</label>
          <input class="---input ---shadow--bg" mask="separator" [(ngModel)]="equipment.revenue">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Комментарий</label>
          <textarea class="---input" [(ngModel)]="equipment.comment" rows="5"
                    [ngModelOptions]="{standalone: true}"></textarea>
        </div>
      </div>
    </div>

    <div class="---data-block">
      <div class="h2 ---font-600">Описание товара на сайте</div>

      <div class="---row">
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label></label>
          <label class="---pos-rel ---input ---input--file-upload ---shadow--bg">
            <i class="ifont ---icon-camera ---y-pos-abs"></i>
            <input type="file" class="---d-none" multiple>
            <span class="---input__file-name">Загрузить фотографию</span>
          </label>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Ссылка на фото</label>
          <input type="text" class="---input ---shadow--bg" [(ngModel)]="equipment.photo_alias">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Энергия удара, Дж</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="equipment.power_energy">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Габаритная длина, мм</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="equipment.length">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Сетевой шнур, м</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="equipment.network_cord">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Мощность, Вт</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="equipment.power">
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-md-4 ---col-lg-6">
          <label>Частота ударов, уд/мин</label>
          <input type="number" class="---input ---shadow--bg" [(ngModel)]="equipment.frequency_hits">
        </div>
      </div>
    </div>
    <div class="---col-12 ---col-lg-6">
      <span class="---prod-item__info ---d-inline-flex ---align-items-center">
                            <span
                              class="---prod-item__img ---radius-5 ---d-flex ---align-items-center ---justify-content-center">
                                <img *ngIf="equipment.photo!==''"
                                     src="http://u68857.netangels.ru/uploads/{{equipment.photo}}" alt=""
                                     class="---lazyload ---img-contain">

                              <img *ngIf="equipment.photo===''" src="{{equipment.photo_alias}}" alt=""
                                   class="---lazyload ---img-contain">
                            </span>
                        </span>
    </div>

    <div class="---btns-wrapper">
      <div (click)="updateEquipment()" class="---btn ---btn--fill-acent">Изменить</div>
    </div>

  </div>
  <div class="---col-12 ---col-lg-6 ---form">
    История изменений
    <table style="min-width: 360px;">
      <tr>
        <th>Дата</th>
        <th>Тип</th>
        <th>Старое значение</th>
        <th>Новое значение</th>
        <th>Причина</th>
        <th>Сотрудник</th>
      </tr>
      <tr *ngFor="let list of equipment.change_history">
        <td>{{list.date}}</td>
        <td>{{list.type}}</td>
        <td>{{list.old_params}}</td>
        <td>{{list.new_params}}</td>
        <td>{{list.reason}}</td>
        <td>{{list.user}}</td>
      </tr>
    </table>


    История изменений статуса
    <table style="min-width: 360px;">
      <tr>
        <th>Дата</th>
        <th>Старое значение</th>
        <th>Новое значение</th>
        <th>Причина</th>
        <th>Сотрудник</th>
        <th>Сумма</th>
        <th>Касса</th>
      </tr>
      <tr *ngFor="let list of equipment.change_history_status">
        <td>{{list.date}}</td>
        <td>{{list.old_params}}</td>
        <td>{{list.new_params}}</td>
        <td>{{list.reason}}</td>
        <td>{{list.user}}</td>
        <td>{{list.sum | digitsNumbers}}</td>
        <td>{{list.cashBox}}</td>
      </tr>
    </table>
  </div>
</div>
