<div *ngIf="data.data.show" id="---modal-text"
     class="---d-flex ---modal --justify-content-center ---align-items-start ---justify-content-center">
  <div class="---wrapper ---wrapper--small">
    <div class="---js-close-modal ---js-close-modal-icon" (click)="clear()"></div>
    <div class="modal-body">
      <div class="---form">
        <div class="---field">
          <div class="---select">
            <label>Касса</label>
            <select
              [(ngModel)]="data.data.cashBox">
              <option *ngFor="let cashBox of financeCashBox" [ngValue]="cashBox.val">
                {{cashBox.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field">
          <label>Сумма</label>
          <input class="---input ---fill--bg" [(ngModel)]="data.data.sum" mask="separator">
        </div>
        <div class="---field">
          <label>Возврат денег</label>
          <input type="checkbox" class="---input ---fill--bg" [(ngModel)]="revertSum">
        </div>
        <div class="---btn ---btn--fill-acent ---btn--sm" (click)="send()">Добавить</div>
      </div>
    </div>
  </div>
</div>
