.---page-application {

	.---tabs__switchers-wrapper {
		padding-bottom: 24px;
	}

	.---tabs--finance {

		.---tabs__switcher {

			&.---is-active {

				&:after {
					bottom: -26px !important;
				}

			}

		}

	}

	table {
		margin-top: 36px;
	}

}