.---page-sale {

	.---tabs__switchers-wrapper {
		padding-bottom: 25px;
	}

	.---tabs--finance {

		.---tabs__switcher {

			&.---is-active {

				&:after {
					bottom: -27px;
				}

			}

		}

	}

	.---devider {
		height: 2px;
		background: #e3e8f0;
		margin: 35px 0;
	}

}