<div class="---page-client-in ---row">

  <div class="---col-12 ---col-lg-6 ---form">

    <div class="---data-block">
      <div class="h2 ---font-600">Данные о финансах</div>

      <div class="---row">
        <div class="---field ---col-12 ---col-sm-6">
          <label>Назначение</label>
          <input disabled type="text" class="---input" [(ngModel)]="finance.name">
        </div>
        <div class="---field ---col-12 ---col-sm-6">
          <label>Категория</label>
          <input disabled type="text" [ngModel]="finance.category">
        </div>

        <div class="---field ---col-12 ---col-sm-6">
          <label>Тип</label>
          <input disabled type="text" [ngModel]="finance.type">
        </div>

        <div class="---field ---col-12 ---col-sm-6">
          <label>Филиал</label>
          <input disabled type="text" [ngModel]="finance.branch">
        </div>

        <div class="---field ---col-12 ---col-sm-6">
          <label>Касса</label>
          <input disabled type="text" [ngModel]="finance.cashBox">
        </div>

        <div class="---field ---col-12 ---col-sm-6">
          <label>Дата</label>
          {{finance.date}}
        </div>

        <div class="---field ---col-12 ---col-sm-6">
          <label>Сумма</label>
          <input disabled class="---input" type="text" mask="separator" [(ngModel)]="finance.sum">
        </div>
      </div>
    </div>

  </div>
</div>
