<div class="---col-12 ---col-xl-7">
  <div class="---row">
    <div class="---col-12 ---col-sm-6">
      <div class="---select">
        <select class="---select__cur-value" (change)="selectUsers(currentBranch)" [(ngModel)]="currentBranch">
          <option class="---select__list-item" *ngFor="let branch of branches" [ngValue]="branch">
            {{branch.name}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="---devider"></div>


  <div class="---docs-wrapper" *ngIf="usersAdmin.length>0">
    <div class="h2 ---font-sbold">Администраторы</div>

    <div class="---doc-item ---doc-item--avatar ---pos-rel ---radius-5" *ngFor="let user of usersAdmin">
      <i class="---icon ifont ---icon-head-linear ---y-pos-abs"></i>

      <div class="---title ---font-sbold">{{user.fio}}</div>
      <div class="---date">{{user.phone|telephoneNumber}} / {{user.email}}</div>

      <div class="---icons ---y-pos-abs ---d-flex">
        <a href="#" class="---history ---d-inline-flex ---align-items-center">История</a>
        <a href="#" class="ifont ---icon-edit ---acent"></a>
        <a href="#" class="ifont ---icon-close"></a>
      </div>
    </div>
  </div>

  <div class="---docs-wrapper" *ngIf="usersManager.length>0">
    <div class="h2 ---font-sbold">Менеджеры</div>
    <div class="---doc-item ---doc-item--avatar ---pos-rel ---radius-5" *ngFor="let user of usersManager">
      <i class="---icon ifont ---icon-head-linear ---y-pos-abs"></i>

      <div class="---title ---font-sbold">{{user.fio}}</div>
      <div class="---date">{{user.phone|telephoneNumber}} / {{user.email}}</div>

      <div class="---icons ---y-pos-abs ---d-flex">
        <a href="#" class="---history ---d-inline-flex ---align-items-center">История</a>
        <a href="#" class="ifont ---icon-edit ---acent"></a>
        <a href="#" class="ifont ---icon-close"></a>
      </div>
    </div>
  </div>
</div>

<div class="---col-12 ---col-xl-4">
  <div class="---r-side-add-block ---block--bg-white ---radius-5">
    <div class="h2 ---font-sbold">Добавить сотрудника</div>

    <div class="---border"></div>

    <div class="---form">
      <div class="---row">
        <div class="---field ---col-12 ---col-xs-6 ---col-xl-12">
          <label>Выберите филиал</label>
          <select class="---select__cur-value" [(ngModel)]="newUser.branch_id">
            <option class="---select__list-item" *ngFor="let branch of branches" [ngValue]="branch">
              {{branch.name}}
            </option>
          </select>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-xl-12">
          <label>Выберите роль</label>
          <select class="---select__cur-value" [(ngModel)]="newUser.user_type">
            <option class="---select__list-item" *ngFor="let role of roles" [ngValue]="role">
              {{role.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="---border ---border-mt0"></div>

      <div class="---row ---_sm">
        <div class="---field col ---col-12 ---col-xs-6 ---col-md-4 ---col-xl-6">
          <label>Имя</label>
          <input [(ngModel)]="newUser.name" class="---input ---fill--bg">
        </div>
        <div class="---field col ---col-12 ---col-xs-6 ---col-md-4 ---col-xl-6">
          <label>Фамилия</label>
          <input [(ngModel)]="newUser.lastName" class="---input ---fill--bg">
        </div>
        <div class="---field col ---col-12 ---col-xs-6 ---col-md-4 ---col-xl-6">
          <label>Пароль</label>
          <input [(ngModel)]="newUser.pass" class="---input ---fill--bg">
        </div>
        <div class="---field col ---col-12 ---col-xs-6 ---col-md-4 ---col-xl-6">
          <label>Номер телфона</label>
          <input [(ngModel)]="newUser.phone" type="tel" class="---input ---fill--bg">
        </div>
        <div class="---field col ---col-12 ---col-xs-6 ---col-md-4 ---col-xl-6">
          <label>E-mail</label>
          <input [(ngModel)]="newUser.email" class="---input ---fill--bg">
        </div>
      </div>

      <div class="---border ---border-mt0"></div>

      <div class="---row ---_sm">
        <div class="---field col ---col-12 ---col-xs-6" *ngFor="let right of rights; let i = index">
          <label for="right_{{right.val}}" class="---checkbox">
            <input type="checkbox"
                   id="right_{{right.val}}"
                   (change)="changeCheckbox(i)"
                   [checked]="right.checked">
            {{right.name}}
          </label>
        </div>
      </div>
    </div>

    <div class="---border ---border-mt0"></div>

    <a (click)="addNewUser()" class="---btn ---btn--fill-acent">Добавить</a>
  </div>
</div>
