<div class="---col-12 ---col-xl-7">
  <div class="---row">
    <div class="---col-12 ---col-sm-6">
      <div class="---select">
        <select (change)="selectUsers(currentBranch)" [(ngModel)]="currentBranch">
          <option *ngFor="let branch of branches" [ngValue]="branch">{{branch.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="---devider"></div>


  <div class="---docs-wrapper" *ngIf="usersAdmin.length>0">
    <div class="h2 ---font-600">Администраторы</div>

    <div class="---doc-item ---doc-item--avatar ---pos-rel ---radius-5" *ngFor="let user of usersAdmin">
      <i class="---icon ifont ---icon-head-linear ---y-pos-abs"></i>

      <div class="---title ---font-600">{{user.fio}}</div>
      <div class="---date">{{user.phone|telephoneNumber}} / {{user.email}}</div>

      <div class="---icons ---y-pos-abs ---d-flex">
        <a href="#" class="---history ---d-inline-flex ---align-items-center">История</a>
        <div (click)="changeUser(user)" class="ifont ---icon-edit ---acent"></div>
        <a href="#" class="ifont ---icon-close"></a>
      </div>
    </div>
  </div>

  <div class="---docs-wrapper" *ngIf="usersManager.length>0">
    <div class="h2 ---font-600">Менеджеры</div>
    <div class="---doc-item ---doc-item--avatar ---pos-rel ---radius-5" *ngFor="let user of usersManager">
      <i class="---icon ifont ---icon-head-linear ---y-pos-abs"></i>

      <div class="---title ---font-600">{{user.fio}}</div>
      <div class="---date">{{user.phone|telephoneNumber}} / {{user.email}}</div>

      <div class="---icons ---y-pos-abs ---d-flex">
        <a href="#" class="---history ---d-inline-flex ---align-items-center">История</a>
        <div (click)="changeUser(user)" class="ifont ---icon-edit ---acent"></div>
        <a href="#" class="ifont ---icon-close"></a>
      </div>
    </div>
  </div>
</div>

<div class="---col-12 ---col-xl-4">
  <div class="---r-side-add-block ---block--bg-white ---radius-5">
    <div class="h2 ---font-600">{{newUser.fio}}</div>

    <div class="---border"></div>

    <div class="---form">
      <div class="---row">
        <div class="---field ---col-12 ---col-xs-6 ---col-xl-12">
          <label>Выберите филиал</label>
          <div class="---select">
            <select [(ngModel)]="newUser.branch_id">
              <option *ngFor="let branch of branches" [ngValue]="branch.val">{{branch.name}}</option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-xs-6 ---col-xl-12">
          <label>Выберите роль</label>
          <div class="---select">
            <select [(ngModel)]="newUser.user_type">
              <option *ngFor="let role of roles" [ngValue]="role.val">{{role.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="---border ---border-mt0"></div>

      <div class="---row ---_sm">
        <div class="---field col ---col-12 ---col-xs-6 ---col-md-4 ---col-xl-6">
          <label>ФИО</label>
          <input [(ngModel)]="newUser.name_lastName" class="---input ---fill--bg">
        </div>
        <div class="---field col ---col-12 ---col-xs-6 ---col-md-4 ---col-xl-6">
          <label>Пароль</label>
          <input [(ngModel)]="newUser.pass" class="---input ---fill--bg">
        </div>
        <div class="---field col ---col-12 ---col-xs-6 ---col-md-4 ---col-xl-6">
          <label>Номер телфона</label>
          <input [(ngModel)]="newUser.phone" type="text" mask="+0 (000) 000 00 00" class="---input ---fill--bg">
        </div>
        <div class="---field col ---col-12 ---col-xs-6 ---col-md-4 ---col-xl-6">
          <label>E-mail</label>
          <input [(ngModel)]="newUser.email" class="---input ---fill--bg">
        </div>
      </div>

      <div class="---border ---border-mt0"></div>

      <div class="---row ---_sm">
        <div class="col ---col-12 ---col-xs-6 checkbox-style" *ngFor="let right of rights; let i = index">
          <label for="right_{{right.val}}" class="---checkbox" [ngClass]="{'---is-active':right.checked}">
            <input type="checkbox"
                   id="right_{{right.val}}"
                   (change)="changeCheckbox(i)"
                   [checked]="right.checked">
            {{right.name}}
          </label>
        </div>
      </div>
    </div>

    <div class="---border ---border-mt0"></div>

    <div (click)="addNewUser()" class="---btn ---btn--fill-acent">{{newUser.btn}}</div>

    <div (click)="clear()" class="---btn ---btn--fill-acent">Новый сотрудник</div>
  </div>
</div>
