<div class="---block ---block--bg-white ---block-data-by-city ---d-flex ---justify-content-between">

  <div class="---block__lside ---pos-rel ---font-sbold">
    <i class="ifont ---icon-location ---y-pos-abs"></i>
    Данные<br>
    по городам
  </div>

  <div class="---block__rside ---d-flex">
    <div class="---select">
      <select [(ngModel)]="filter.branch" (change)="changeBranch()">
        <option *ngFor="let branch of branches" [ngValue]="branch.val">
          {{branch.name}}
        </option>
      </select>
    </div>
  </div>
  <div class="---block__rside ---d-flex">
    <label>Дата периода</label>
    <div class="---input ---input--calendar">
      <input type="date" [(ngModel)]="filter.date_start" (change)="getData()">
    </div>
  </div>
  <div class="---block__rside ---d-flex">
    <label>Конец периода</label>
    <div class="---input ---input--calendar">
      <input type="date" [(ngModel)]="filter.date_end">
    </div>
  </div>

</div>


<div class="---block ---block-charts ---row">

  <div class="---col-12 ---col-sm-6 ---col-md-4" *ngFor="let income of incomes">
    <div class="---chart-item">
      <div class="---graphic">

      </div>
      <div class="---content ---d-flex ---justify-content-between ---align-items-center">
        <div class="---title ---pos-rel ---font-sbold">
          <i class="ifont ---icon-calendar ---y-pos-abs"></i>
          {{income.name}}
        </div>

        <div  class="---num ---font-light">{{income.count | digitsNumbers}} <span *ngIf="income.currency">₽</span></div>
      </div>
    </div>
  </div>
</div>

<div class="---col-12 ---devider-line"></div>

<div class="---block-catalog">
  <div class="---block__title ---font-light ---d-flex ---align-items-center ---justify-content-between">
    Популярные позиции
  </div>

  <div class="---cat-wrapper ---row ---_xs" *ngIf="equipments.length>0">
    <div class="---col col" *ngFor="let equipment of equipments">
      <a href="#" class="---cat-item ---d-flex ---flex-column">
                    <span class="---cat-item__img">
                        <img data-src="/static/imgs/catalog/{{equipment.photo}}" alt="" class="---lazyload ---img-contain">
                    </span>
        <span class="---cat-item__title">
                        {{equipment.name}}
                    </span>
        <span class="---cat-item__orders">
                        заказаов: <span class="---font-sbold">{{equipment.count}}</span>
                    </span>
        <span class="---cat-item__btn ---font-sbold ---btn ---btn--sm">
                        <i class="ifont ---icon-basket-linear"></i>
                        от {{equipment.price | digitsNumbers}} ₽
                    </span>
      </a>
    </div>
  </div>

  <div class="---cat-wrapper ---row ---_xs" *ngIf="equipments.length===0">
    Заказов нет
  </div>
</div>

