<a routerLink="/main" class="---logo ---pos-rel ---d-block">
  <img data-src="assets/imgs/logo.svg" alt="" class="---lazyload ---y-pos-abs">
  <span class="---title">stroika</span>
  <span class="---sub-title ---d-block">arenda</span>
</a>

<nav>
  <a *ngFor="let menu of showMenuList" [routerLinkActiveOptions]="{ exact: true }" routerLink={{menu.link}}
     routerLinkActive='---is-active'>
    <i class="ifont ---y-pos-abs" [ngClass]='menu.class'></i>
    <span>{{menu.name}}</span>
  </a>
</nav>

<i (click)="closeMenu()" class="ifont ---icon-arrow-left ---menu-toggle ---d-none ---lg-d-flex"></i>
