<div class="---page-clients">

  <div class="---tabs ---tabs--finance">
    <div class="---tabs__switchers-wrapper ---d-flex ---align-items-center ---justify-content-between">
      <div class="---tabs__switchers ---h1 ---font-300 ---d-flex">
        <div class="---tabs__switcher ---is-active" (click)="changeTypeEquipments('')">Все позиции</div>
        <div class="---tabs__switcher" (click)="changeTypeEquipments('1')">В аренде</div>
        <div class="---tabs__switcher" (click)="changeTypeEquipments('2')">В ремонте</div>
      </div>
    </div>

    <div class="---h-filters-wrapper ---d-flex ---justify-content-between ---align-items-start">
      <div class="---d-flex ---form ---align-items-start">
        <div [ngClass]="{'---is-active':showFilters}"
             class="---filters ---radius-5 ---d-inline-flex ---align-items-center"
             (click)="changeShowFilters()">
          Фильтры
          <i class="ifont ---icon-menu-finance ---d-none ---sm-d-flex"></i>
        </div>

        <div [ngClass]="{'---is-active':showActiveFields===true}"
          class="---filters ---radius-5 ---d-inline-flex ---align-items-center"
             (click)="changeActiveFields()">
          Активные поля
          <i class="ifont ---icon-list ---d-none ---sm-d-flex"></i>
        </div>

        <div class="---search ---field ---pos-rel">
          <input class="---input" placeholder="Поиск по складу" [(ngModel)]="filters.like"
                 (keyup)="getEquipments()">
          <button class="---y-pos-abs ifont ---icon-loop"></button>
        </div>
      </div>

      <a routerLink='/equipments-create' class="---btn ---btn--fill-acent">Добавить товар</a>

    </div>

    <div *ngIf="showFilters" class="---block--bg-white ---block-filter ---radius-5 ---form">
      <div class="---row">
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Склад</label>
          <div class="---select">
            <select [(ngModel)]="filters.stock">
              <option *ngFor="let stock of stocks" [ngValue]="stock.val">
                {{stock.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Тип оборудования</label>
          <div class="---select">
            <select [(ngModel)]="filters.equipmentsType">
              <option *ngFor="let equipmentsType of equipmentsTypeList"
                      [ngValue]="equipmentsType.val">
                {{equipmentsType.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Категория</label>
          <div class="---select">
            <select [(ngModel)]="filters.equipmentsCategory">
              <option *ngFor="let equipmentsCategory of equipmentsCategoryList"
                      [ngValue]="equipmentsCategory.val">
                {{equipmentsCategory.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Количество от</label>
          <input class="---input ---shadow--bg" type="number" [(ngModel)]="filters.count_start">
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Количество до</label>
          <input class="---input ---shadow--bg" type="number" [(ngModel)]="filters.count_end">
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Цена продажи от</label>
          <input class="---input ---shadow--bg" mask="separator" [(ngModel)]="filters.selling_price_start">
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Цена продажи до</label>
          <input class="---input ---shadow--bg" mask="separator" [(ngModel)]="filters.selling_price_end">
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Цена за сутки от</label>
          <input class="---input ---shadow--bg" mask="separator" [(ngModel)]="filters.price_per_day_start">
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Цена за сутки до</label>
          <input class="---input ---shadow--bg" mask="separator" [(ngModel)]="filters.price_per_day_end">
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Количество прокатов от</label>
          <input class="---input ---shadow--bg" type="number" [(ngModel)]="filters.rentals_start">
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Количество прокатов до</label>
          <input class="---input ---shadow--bg" type="number" [(ngModel)]="filters.rentals_end">
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Количество ремонтов от</label>
          <input class="---input ---shadow--bg" type="number" [(ngModel)]="filters.repairs_start">
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Количество ремонтов до</label>
          <input class="---input ---shadow--bg" type="number" [(ngModel)]="filters.repairs_end">
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Сумма ремонтов от</label>
          <input class="---input ---shadow--bg" mask="separator" [(ngModel)]="filters.repairs_sum_start">
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Сумма ремонтов до</label>
          <input class="---input ---shadow--bg" mask="separator" [(ngModel)]="filters.repairs_sum_end">
        </div>

        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Выручка от</label>
          <input class="---input ---shadow--bg" mask="separator" [(ngModel)]="filters.revenue_start">
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Выручка до</label>
          <input class="---input ---shadow--bg" mask="separator" [(ngModel)]="filters.revenue_end">
        </div>

        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Прибыль от</label>
          <input class="---input ---shadow--bg" mask="separator" [(ngModel)]="filters.profit_start">
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Прибыль до</label>
          <input class="---input ---shadow--bg" mask="separator" [(ngModel)]="filters.profit_end">
        </div>

        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Степень износа от</label>
          <input class="---input ---shadow--bg" type="number" [(ngModel)]="filters.degree_wear_start">
        </div>
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3">
          <label>Степень износа до</label>
          <input class="---input ---shadow--bg" type="number" [(ngModel)]="filters.degree_wear_end">
        </div>

      </div>

      <div class="---btns ---d-flex">
        <div (click)="getEquipments()" class="---btn ---btn--fill-acent">Применить фильтры</div>
        <div (click)="clearFilter()" class="---btn ---btn--border-bg">
          Сбросить фильры
          <i class="ifont ---icon-close"></i>
        </div>
      </div>
    </div>

    <div *ngIf="showActiveFields" id="active-field" class=" ---block--bg-white ---block-filter ---radius-5 ---form">
      <div class="---row">
        <div class="---field ---col-12 ---col-sm-6 ---col-lg-3" *ngFor="let activeField of activeFields; let i = index">
          <label for="right_{{activeField.code}}" class="---checkbox" [ngClass]="{'---is-active':activeField.flag}">
            <input type="checkbox"
                   id="right_{{activeField.code}}"
                   (change)="changeCheckbox(i)"
                   [checked]="activeField.flag">
            {{activeField.name}}
          </label>
        </div>

      </div>

      <div class="---btns ---d-flex">
        <div (click)="changeFields()" class="---btn ---btn--fill-acent">Применить</div>
      </div>
    </div>

    <div class="---t-wrapper">
      <table>
        <tr>
          <th></th>
          <ng-container *ngFor="let activeField of activeFields">
            <th *ngIf="activeField.flag===1">{{activeField.name}}</th>
          </ng-container>
        </tr>

        <tr (dblclick)="equipmentDetails(equipment.id)" *ngFor="let equipment of equipmentsList | paginate: { itemsPerPage: 10, currentPage: p }"
            class="cursor-pointer" [style.background]="equipment.color">
          <td>
            <div class="ifont ---icon-edit ---radius-5" (click)="equipmentDetails(equipment.id)"></div>
          </td>
          <td *ngIf="activeFieldsTables['name']===1">{{equipment.name}}</td>
          <td *ngIf="activeFieldsTables['category']===1">{{equipment.category}}</td>
          <td *ngIf="activeFieldsTables['stock']===1">{{equipment.stock}}</td>
          <td *ngIf="activeFieldsTables['type']===1">{{equipment.type}}</td>
          <td *ngIf="activeFieldsTables['status']===1">{{equipment.status}}</td>
          <td *ngIf="activeFieldsTables['selling_price']===1">{{equipment.selling_price | digitsNumbers}}</td>
          <td *ngIf="activeFieldsTables['price_per_day']===1">{{equipment.price_per_day | digitsNumbers}}</td>
          <td *ngIf="activeFieldsTables['rentals']===1">{{equipment.rentals}}</td>
          <td *ngIf="activeFieldsTables['repairs']===1">{{equipment.repairs}}</td>
          <td *ngIf="activeFieldsTables['repairs_sum']===1">{{equipment.repairs_sum | digitsNumbers}}</td>
          <td *ngIf="activeFieldsTables['tool_number']===1">{{equipment.tool_number}}</td>
          <td *ngIf="activeFieldsTables['revenue']===1">{{equipment.revenue | digitsNumbers}}</td>
          <td *ngIf="activeFieldsTables['profit']===1">{{equipment.profit | digitsNumbers}}</td>
          <td *ngIf="activeFieldsTables['degree_wear']===1">{{equipment.degree_wear}}%</td>
          <td *ngIf="activeFieldsTables['payback_ratio']===1">{{equipment.payback_ratio}}%</td>
          <td *ngIf="activeFieldsTables['comment']===1">{{equipment.comment}}</td>
        </tr>
      </table>
    </div>

    <div
      class="---block--bg-white ---block-pagination ---d-flex ---align-items-center ---justify-content-between ---radius-5">
      <pagination-controls previousLabel='' nextLabel="" (pageChange)="p = $event"></pagination-controls>

      <div>Всего записей — <span class="---font-600">{{equipmentsList.length | digitsNumbers}}</span></div>
    </div>
  </div>
</div>
