<div class="---page-hire">

  <div class="---data-block">
    <div class="h2 ---input ---input--disabled">Данные аренды</div>

    <div class="---row ---form">

      <div class="---col-12">
        <img src="/assets/imgs/catalog/{{hireInfo.equipments.photo}}.png" class="---lazyload ---img-contain ---product-img">
      </div>

      <div class="---field ---col-12">
        <div *ngIf="globalPayList.data.pay_list.length != 0" (click)="open_pay_list()" class="---btn ---btn--fill-acent">Платежи</div>
        <br>
        <div (click)="showInsertSum()" class="---btn ---btn--fill-acent">Добавить платеж</div>
        <br>
        <div (click)="showInsertRental()" class="---btn ---btn--fill-acent">Продлить прокат</div>
        <br>
        <div (click)="closeHire()" class="---btn ---btn--fill-acent">Возврат оборудования на склад</div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Филиал</label>
        <div class="---input ---input--disabled">{{hireInfo.branch}}</div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Доставка</label>
        <div class="---select">
          <select [(ngModel)]="hireInfo.delivery" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let delivery of delivery"
                    [ngValue]="delivery.val">
              {{delivery.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Тип аренды</label>
        <div class="---input ---input--disabled">{{hireInfo.typeLease}}</div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Скидка</label>
        <div class="---select">
          <select [(ngModel)]="hireInfo.sale" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let discount of discounts"
                    [ngValue]="discount.val">
              {{discount.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Источник</label>
        <div class="---input ---input--disabled">{{hireInfo.source}}</div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Начало аренды</label>
        <input type="datetime-local" [(ngModel)]="hireInfo.rent_start" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Конец аренды</label>
        <input type="datetime-local" [(ngModel)]="hireInfo.rent_end" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>ФИО клиента</label>
        <div class="---input ---input--disabled">{{hireInfo.client_fio}}</div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Оборудование</label>
        <div class="---input ---input--disabled">{{hireInfo.equipments.name}}</div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Статус</label>
        <div class="---select">
          <select [(ngModel)]="hireInfo.equipments.status">
            <option *ngFor="let status of statusList"
                    [ngValue]="status.val">
              {{status.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Количество</label>
        <div class="---input ---input--disabled">{{hireInfo.count}}</div>
      </div>


      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Оплоченно (РУБ.)</label>
        <div class="---input ---input--calendar ---pos-rel">
          <input mask="separator" [(ngModel)]="hireInfo.total_paid">
        </div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Осталось</label>
        <div class="---input ---input--disabled">{{hireInfo.remainder | digitsNumbers}} ₽</div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Телефон клиента</label>
        <div class="---input ---input--disabled">{{hireInfo.client_phone | telephoneNumber}}</div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Доставка</label>
        <div class="---input ---input--disabled">{{hireInfo.delivery_sum}} ₽</div>
      </div>


      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Сумма</label>
        <div class="---input ---input--disabled">{{hireInfo.sum | digitsNumbers}} ₽</div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Сумма со скидкой</label>
        <div class="---input ---input--disabled">{{hireInfo.sum_sale | digitsNumbers}} ₽</div>
      </div>

      <div class="---field ---col-12">
        <label>Комментарий</label>
        <textarea class="---input" [(ngModel)]="hireInfo.comment" rows="5"></textarea>
      </div>

    </div>

  </div>

  <div class="---btns-wrapper">
    <div (click)="updateHire()" class="---btn ---btn--fill-acent">Обновить</div>
  </div>

</div>
