<div class="---page-hire">

  <div class="---data-block">
    <div class="h1">Данные аренды ({{hireInfo.hire_state}})</div>

    <div class="---row ---form">

      <div class="---col-12">
        <img *ngIf="hireInfo.equipments.photo!==''"
             src="http://u68857.netangels.ru/uploads/{{hireInfo.equipments.photo}}" alt=""
             class="---lazyload ---img-contain ---product-img">
        <img *ngIf="hireInfo.equipments.photo===''" src="{{hireInfo.equipments.photo_alias}}" alt=""
             class="---lazyload ---img-contain ---product-img">
      </div>

      <div class="---col-12 ---field ---d-flex ---flex-wrap">
        <div style="margin: 0 10px 10px 0;" (click)="open_pay_list()" class="---btn ---btn--sm ---btn--fill-acent">
          Платежи
        </div>
        <div style="margin: 0 10px 10px 0;" (click)="open_extensions_list()"
             class="---btn ---btn--sm ---btn--fill-acent">Продления
        </div>
        <div style="margin: 0 10px 10px 0;" (click)="showInsertSum()" class="---btn ---btn--sm ---btn--fill-acent">
          Добавить платеж
        </div>
        <div style="margin: 0 10px 10px 0;" (click)="showInsertRental()" class="---btn ---btn--sm ---btn--fill-acent">
          Продлить прокат
        </div>
        <div style="margin: 0 10px 10px 0;" (click)="showTameRental()" class="---btn ---btn--sm ---btn--fill-acent">
          Сократить прокат
        </div>
        <div style="margin: 0 10px 10px 0;" *ngIf="showReturnEq" (click)="equipmentReturn()"
             class="---btn ---btn--sm ---btn--fill-acent">Возврат оборудования на склад
        </div>
        <div style="margin: 0 10px 10px 0;" *ngIf="showButtonCloseHire" (click)="close_hire()"
             class="---btn ---btn--sm ---btn--fill-acent">Закрыть прокат
        </div>
        <div *ngIf="globalParamsUser.type===1" style="margin: 0 10px 10px 0;" (click)="delete_hire()"
             class="---btn ---btn--sm ---btn--fill-acent">Удалить прокат
        </div>
        <div style="margin: 0 10px 10px 0;" (click)="showDelivery=!showDelivery"
             class="---btn ---btn--sm ---btn--fill-acent">Доставка
        </div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Филиал</label>
        <div class="---input ---input--disabled">{{hireInfo.branch}}</div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Доставка</label>
        <div class="---select">
          <select [(ngModel)]="hireInfo.delivery" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let delivery of delivery"
                    [ngValue]="delivery.val">
              {{delivery.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Скидка</label>
        <div class="---select">
          <select [(ngModel)]="hireInfo.sale" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let discount of discounts"
                    [ngValue]="discount.val">
              {{discount.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Источник</label>
        <div class="---input ---input--disabled">{{hireInfo.source}}</div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Тип доставки</label>
        <div class="---select">
          <select [(ngModel)]="hireInfo.typeLease_id" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let typeLease of applicationsTypeLeases"
                    [ngValue]="typeLease.val">
              {{typeLease.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Начало аренды</label>
        <div class="---input ---input--calendar ---pos-rel">
          <i class="---y-pos-abs ifont ---icon-calendar"></i>
          <input class="---datepicker-input" type="datetime-local" [(ngModel)]="hireInfo.rent_start"
                 [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Конец аренды</label>
        <div class="---input ---input--calendar ---pos-rel">
          <i class="---y-pos-abs ifont ---icon-calendar"></i>
          <input class="---datepicker-input" type="datetime-local" [(ngModel)]="hireInfo.rent_end"
                 [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>ФИО клиента</label>
        <input class="---input ---input--disabled" disabled value="{{hireInfo.client_fio}}">
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Оборудование</label>
        <div class="---input ---input--disabled">{{hireInfo.equipments.name}}</div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Состояние оборудования <img *ngIf="img!=''" style="width: 25px;position: absolute;right: 15px;"
                                           src="/assets/imgs/{{img}}.png"/></label>
        <div class="---input ---input--disabled">{{hireInfo.equipments.state}}</div>
      </div>

      <div *ngIf="hireInfo.lesa!=='1'" class="---field ---col-sm-6 ---col-lg-4">
        <label>Количество</label>
        <div class="---input ---input--disabled">{{hireInfo.count}}</div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Телефон клиента</label>
        <div class="---input ---input--disabled">{{hireInfo.client_phone | telephoneNumber}}</div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Оплоченно (РУБ.)</label>

        <input mask="separator" class="---input ---input--disabled" [(ngModel)]="hireInfo.total_paid">
      </div>


      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Осталось</label>
        <div class="---input ---input--disabled">{{hireInfo.remainder | digitsNumbers}} ₽</div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Сумма</label>
        <div class="---input ---input--disabled">{{hireInfo.sum | digitsNumbers}} ₽</div>
      </div>

      <div class="---field ---col-12">
        <label>Комментарий</label>
        <textarea class="---input" [(ngModel)]="hireInfo.comment" rows="5"></textarea>
      </div>

    </div>

    <div class="---row ---form" *ngIf="hireInfo.lesa==='1'">
      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Рама проходная</label>
        <div class="---input ---input--disabled">{{hireInfo.rama_prokhodnaya}} шт</div>
      </div>
      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Рама с летсницей</label>
        <div class="---input ---input--disabled">{{hireInfo.rama_letsnitsey}} шт</div>
      </div>
      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Диагональная связь</label>
        <div class="---input ---input--disabled">{{hireInfo.diagonalnaya_svyaz}} шт</div>
      </div>
      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Горизонтальная связь</label>
        <div class="---input ---input--disabled">{{hireInfo.gorizontalnaya_svyaz}} шт</div>
      </div>
      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Ригель</label>
        <div class="---input ---input--disabled">{{hireInfo.rigel}} шт</div>
      </div>
      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Настил</label>
        <div class="---input ---input--disabled">{{hireInfo.nastil}} шт</div>
      </div>

      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Цена аренды за месяц</label>
        <div class="---input ---input--disabled">{{hireInfo.month_sum | digitsNumbers}}</div>
      </div>
      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Площадь лесов</label>
        <div class="---input ---input--disabled">{{hireInfo.square}}</div>
      </div>
      <div class="---field ---col-sm-6 ---col-lg-4">
        <label>Адрес расположения</label>
        <div class="---input ---input--disabled">{{hireInfo.address}}</div>
      </div>

    </div>

  </div>

  <div class="---btns-wrapper">
    <div (click)="updateHire()" class="---btn ---btn--fill-acent">Обновить</div>
  </div>

</div>


<div *ngIf="showDelivery" id="---modal-text"
     class="---d-flex ---modal --justify-content-center ---align-items-start ---justify-content-center">
  <div class="---wrapper ---wrapper--small">
    <div class="---js-close-modal ---js-close-modal-icon" (click)="showDelivery=false"></div>
    <div class="modal-body ---form">

      <table style="min-width: 360px;">
        <tr>
          <th>Сумма доставки</th>
          <th>Оплочено</th>
        </tr>
        <tr>
          <td>{{hireInfo.delivery_data.delivery_sum | digitsNumbers}} ₽</td>
          <td>{{hireInfo.delivery_data.delivery_sum_paid | digitsNumbers}} ₽</td>
        </tr>
      </table>

      <table style="min-width: 360px;" *ngIf="hireInfo.delivery_data.delivery_app.length>0">
        <tr>
          <th>Инструмент</th>
        </tr>
        <tr *ngFor="let item of hireInfo.delivery_data.delivery_app">
          <td><a target="_blank" href="/hire/{{item.id}}">{{item.name}}</a></td>
        </tr>
      </table>

    </div>
  </div>
</div>
